body {
    background-color: rgb(166, 107, 117);
    background-image: url(blurredtd4.1.png);
    color: white;
    font-family: Clash Grotesk;
}

@font-face {
    font-family: Tanker;
    src: url(Tanker-Regular.otf);
}

@font-face {
    font-family: Clash Grotesk;
    src: url(ClashGrotesk-Regular.otf);
}

.coverart {
    width: 25%;
    height: 25%;
    border-radius: 12px;
}

.inline {
    display: inline;
}

.musiclist {
    margin-left: 4%;
}

.penguin {
    width: 45px;
    height: 45px;
}

.release {
    width: 25%;
    text-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
    .inline h2 {
      font-size: 350%;
    }
}
