body {
    background-color: rgb(166, 107, 117);
    background-image: url(blurredtd4.1.png);
    color: white;
    font-family: Clash Grotesk;
}

@font-face {
    font-family: Tanker;
    src: url(Tanker-Regular.otf);
}

@font-face {
    font-family: Clash Grotesk;
    src: url(ClashGrotesk-Regular.otf);
}

.coverart {
    width: 25%;
    height: 25%;
}

.inline {
    display: inline;
}

.penguin {
    width: 45px;
    height: 45px;
}

@media only screen and (max-width: 1000px) {
    .inline h3 {
      font-size: 200%;
    }

    .penguin {
        width: 80px;
        height: 80px;
    }
}
